name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [ia32, x64, arm64]

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: NodeJS
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install
      run: npm install --force

    - name: Build
      run: npx electron-forge make --platform=win32 --arch=${{ matrix.arch }}

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: win32-${{ matrix.arch }}
        path: out/make/squirrel.windows/${{ matrix.arch }}/
